:root{
    --base:#ffc600;
    --blur:10px;
    --spacing:10px
}
body{
    margin: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 16);
    color: white;
}
span{
    color:var(--base)
}
.container{
    min-width: 50%;
    min-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}
.controls{
    margin-bottom: 30px;
}
.img{
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    width: 70%;
    height: 40vh;
}